javaWork/graphProject/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="graphProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="graph" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="edge" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="from" use="required"/>
                      <xs:attribute type="xs:string" name="to" use="required"/>
                      <xs:attribute type="xs:byte" name="cost" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="required"/>
			<xs:attribute type="xs:byte" name="costInterval" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="join" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="add"/>
                <xs:attribute type="xs:string" name="to"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="path" minOccurs="0" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="graph" use="required"/>
                <xs:attribute type="xs:string" name="from" use="required"/>
                <xs:attribute type="xs:string" name="to" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>